.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

.button {
    background: rgb(0, 0, 160);
    color: white;
    padding: 10px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 8px;
    font-size: 2em;
}

.button:hover {
    background: white;
    color: blue;
}

.todo {
    background: rgb(1, 94, 1);
    color: rgb(255, 255, 255);
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 300px;
}

.todo-item {
    display: flex;
    background: yellow;
    color: black;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
    font-size: 0.6em;
    

    justify-content: center;
    align-items: center;
}

.todo-item-title {
    font-size: .8em;
}