<div class="about">
    <h2>About Me</h2>
    <img src="https://i.pinimg.com/originals/dd/e4/da/dde4da8175c71a2559bba80224818f82.jpg"/>
    <p>Steve Lee has created this page to prove that he can wire ember using ember-data with a backend Web API</p>
</div>